$header-bg-color: rgb(103, 58, 183);
$header-font-color: #fff;
$header-padding: 0.3rem 3.2rem;
$header-logo-width: 2rem;
$header-font-family: 'Roboto', sans-serif;
// $main-bg-color: rgb(136, 85, 225);
$main-bg-color: rgb(103, 58, 183);
$content-font-color: #7e7e7e;
