@import '../sass/var';
@import '../sass/mixin';
* {
  margin: 0;
}
body {
  font-family: $header-font-family;
}
@include header();
.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto 1fr;
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $header-bg-color;
  color: $header-font-color;
  padding: 2rem 3.2rem;
  font-size: 20px;
  letter-spacing: 2px;
  grid-column: 1/-1;
}
.sidebar {
  grid-column: 1/4;
  min-width: 200px;
  border-right: 1px solid rgb(142, 140, 138);
  overflow-y: scroll;
  .menu {
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__item {
      font-family: Arial, Helvetica, sans-serif;
      padding: 12px 10px 12px 30px;
      font-size: 16px;
      font-weight: 300;
      &:hover {
        background-color: #ebebeb;
      }
    }
    &__link {
      text-decoration: none;
      color: #000000;
      padding: 4px 0;
    }
  }
}
.main {
  grid-column: 4/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px 20px;

  &__card {
    background-color: #fff;
    border-radius: 4px;
    border: 0.1px solid rgb(190, 190, 190);
    text-align: start;
    height: 260px;
    margin: 20px;

    &-image {
      display: block;
      margin: 0 auto 10px;
      max-width: 100%;
    }

    &-title {
      font-size: 1.2rem;
      margin: 0;
      padding: 10px 15px 2px 15px;
    }

    &-description {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1rem;
      margin: 10px 0 0;
      padding: 0 15px;
      color: #6c6c6c;
    }
  }
}
